<nav
  class="navbar navbar-expand-lg navbar-dark position-fixed w-100 bg-dark" style="z-index: 1020;"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">Movie Database</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-label="Toggle navigation"
      (click)="collapse()"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse" [ngClass]="{'collapse':collapsed}" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favorite">Favorite</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
