<div class="container py-4">
  <h1 class="mb-3">Favorite List</h1>

  <div class="row g-4">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3" *ngFor="let movie of movies">
      <div class="card h-100 mb-4">
        <img
          src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}"
          class="card-img-top"
          alt="{{ movie.title }}"
        />
        <div class="card-body">
          <div class="d-flex justify-content-between mb-2">
            <div>
              <h5 class="card-title mb-0">{{ movie.title }}</h5>
            </div>
            <i
              (click)="addToFavorites(movie)"
              class="fa-star cursor-pointer"
              [ngClass]="{
                fas: isFavorite(movie),
                far: !isFavorite(movie),
                yellow: isFavorite(movie)
              }"
            ></i>
          </div>
          <div
            class="card-text"
            style="font-size: 0.8rem"
            [ngbTooltip]="movie.overview"
            [placement]="'top'"
            [triggers]="'mouseenter:mouseleave'"
          >
            {{ movie.overview | truncate : 100 }}
          </div>
          <a [routerLink]="['/detail', movie.id]" class="float-end">
            View Details
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="movies.length === 0"><h3 class="text-center fw-light mt-5">List Favorite Kosong</h3></div>
  </div>
</div>
